.content-part9 {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding-block: var(--main-block-padding);
  gap: 120px;
}
.content-part9-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.content-part9-top > div {
  width: 100%;
  /* height: 800px; */
  /* border: 2px solid green; */
}
.content-part9-top-left {
  display: flex;
  flex-direction: column;
}
.content-part9-top-left-tittle {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.content-part9-top-left-tittle > span:first-child {
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: capitalize;
  white-space: pre-line;
}
.content-part9-top-left-tittle > span:last-child {
  font-size: 4rem;
  font-weight: thin;
  text-transform: capitalize;
  white-space: pre-line;
}
.content-part9-top-left-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-part9-top-left-info > div:first-child {
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 50%;
  background-image: url("../imgs/part9/avatar1.png");
  background-size: cover;
  filter: grayscale(100%);
}
.content-part9-top-left-info > div:last-child {
  display: flex;
  gap: 20px;
  font-size: 0.8rem;
}
.content-part9-top-left-info > div:last-child > span:first-child {
  font-weight: 800;
  text-transform: capitalize;
}
.content-part9-top-left-text {
  font-size: 2rem;
  white-space: pre-line;
  margin-top: 20px;
}
/* 右边图片 */
.content-part9-top-right {
  position: relative;
  font-size: 4rem;
  right: 100px;
}
.content-part9-top-right > img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}
.content-part9-top-right > span {
  position: absolute;
}
.content-part9-top-right > span:first-of-type {
  right: 0;
  top: -50px;
  height: 110px;
  width: 110px;
  background-color: rgb(220, 133, 26);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
}
.content-part9-top-right > span:last-of-type {
  left: 30px;
  bottom: 0;
  font-size: 16rem;
  font-weight: 700;
  color: white;
}

/* 下面部分 */
.content-part9-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.content-part9-bottom > div {
  width: 100%;
  /* border: 2px solid red; */
}

.content-part9-bottom-item {
  position: relative;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  z-index: 0;
  /* padding: 40px;
  padding-top: 100px; */
}
.bottom-bg-item {
  position: absolute;
  z-index: -1;
}
img.bottom-bg-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  filter: grayscale(100%);
}
div.bottom-bg-item {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.content-part9-bottom-item-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-part9-bottom-item-top > :first-child {
  font-size: 0.8rem;
  color: rgb(156, 156, 147);
  margin-top: 100px;
}
.content-part9-bottom-item-top > :last-child {
  font-size: 2rem;
  white-space: pre-line;
  line-height: 1.4;
  letter-spacing: 1px;
}
.content-part9-bottom-item-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-part9-bottom-item-bottom > :first-child {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  background-image: url("../imgs/part9/avatar1.png");
  background-size: cover;
  filter: grayscale(100%);
}
.content-part9-bottom-item-bottom.right-card > :first-child {
  background-image: url("../imgs/part9/avatar2.png");
}
.content-part9-bottom-item-bottom > :last-child {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 800;
}
.content-part9-bottom-item-bottom > :last-child > span {
  font-weight: 400;
}
