.content-part1 {
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.content-part1 > div {
  width: 500px;
  /* height: 600px; */
  /* border: 2px solid rgb(216, 138, 32); */
}
.content-part1-bg.content-part1-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: royalblue;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  opacity: 0.2;
  margin-top: -40px;
}
.content-part1-bg > div {
  width: 100vw;
  height: 100%;
  background-color: rgb(233, 138, 21);
  flex-shrink: 0;
}
/* 左侧内容 */
.content-part1-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.content-part1-left-title {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}
.content-part1-left-title > span:first-child {
  font-size: 4rem;
  white-space: pre-line;
  font-weight: 300;
  letter-spacing: 2px;
}
.content-part1-left-title > span:last-child {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.content-part1-left-title > span:last-child > span {
  display: inline-block;
  padding: 10px 14px;
  background-color: black;
  color: white;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 700;
  box-shadow: 0px 30px 16px rgba(0, 0, 0, 0.125);
}
.content-part1-left-title > span:last-child > span > span {
  font-size: 0.8rem;
  vertical-align: top;
}
.content-part1-left-other {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-part1-left-other > div:first-child {
  /* width: 280px;
    height: 80px; */
  padding: 30px 40px;
  gap: 60px;
  background-color: #f36c18;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
  transition: gap 0.3s ease;
  cursor: pointer;
}

.content-part1-left-other > div:first-child:hover{
  gap: 120px;
}




.content-part1-left-other > div:first-child > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-10px);
}

.content-part1-left-other > div:first-child > span::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  transform: translate(10px);
}

.content-part1-left-other > div:last-child {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  font-weight: 500;
}
.content-part1-left-other > div:last-child > div {
  width: 20px;
}
.content-part1-left-other > div:last-child > span {
  border-bottom: 1px solid gray;
  padding-bottom: 6px;
}
/* 右边 */
.content-part1-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  color: white;
  z-index: 0;
  position: relative;
}
.content-part1-right > img {
  width: 100%;
  z-index: 1;
}
.content-part1-right > :not(img) {
  position: absolute;
}
.content-part1-right-circle {
  width: 400px;
  height: 400px;
  background-color: #392d56a2;
  border-radius: 50%;
  transform: translateY(-100px);
}
.content-part1-right > span {
  top: 100px;
}
.content-part1-right-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.content-part1-right-items > div {
  /* width: 100px;
    height: 100px; */
  /* background-color: #f87887; */
  /* border: 1px solid red; */
  position: absolute;
}
.content-part1-right-items > div:nth-child(1) {
  transform: translateX(-300px) translateY(-300px);
}
.content-part1-right-items > div:nth-child(2) {
  transform: translateX(-300px) translateY(300px);
}
.content-part1-right-items > div:nth-child(3) {
  transform: translateX(200px) translateY(-250px);
}
.content-part1-right-items-one {
  font-size: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.content-part1-right-items-one > div {
  width: 100px;
  height: 100px;
  background-color: #6675ff;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 30px 30px rgba(2, 2, 2, 0.211);
}
.content-part1-right-items-one > div > div {
  width: 100%;
  height: 130%;
  /* border: 6px solid red; */
  display: flex;
  align-items: flex-end;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
}
.content-part1-right-items-one > div > div > img {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.content-part1-right-items-one > div:hover img {
  width: 120%;
}
.content-part1-right-items-one > span {
  font-size: 0.8rem;
  background-color: white;
  padding: 10px 20px;
  text-wrap: nowrap;
  border-radius: 100px;
  text-transform: capitalize;
}
.content-part1-right-items > div:nth-child(2) > div {
  background-color: blueviolet;
}
.content-part1-right-items > div:nth-child(3) > div {
  background-color: rgb(53, 189, 22);
}
.content-part1-right-items-one > span {
  font-size: 0.8rem;
  white-space: pre-line;
  font-weight: 100;
  letter-spacing: 2px;
}
