.content-part7 {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding-block: var(--main-block-padding);
  gap: 60px;
  align-items: center;
}
.content-part7 > div {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
}
.content-part7-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.content-part7-left > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.part7-left-text-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.part7-left-text-top > span:first-child {
  width: 40px;
  height: 40px;
  background-color: rgb(171, 176, 176);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.part7-left-text-top > span:last-child {
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.part7-left-text-top > span:last-child::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: rgb(184, 182, 182);
  position: absolute;
  left: -6px;
  top: 30px;
}
.part7-left-text-bottom > span:first-child {
  font-size: 1.5rem;
  font-weight: 800;
}
.part7-left-text-bottom > span:last-child {
  display: flex;
  justify-content: center;
  position: inherit;
  margin-top: -44px;
  font-size: 3rem;
  z-index: 0;
}

.part7-left-text-top > span:last-child::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(58, 55, 55, 0.3); /* 增加透明度 */
  border-radius: 50%;
  position: absolute;
  right: -115px; /* 调整位置 */
  top: 180px; /* 调整位置 */
  z-index: 1; /* 确保圆形在箭头上方 */
}
.content-part7-right > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
